<% var title="首页";%>
<% include include/header.html%>
<ul class="media-list">
    <%
    articles.forEach(function(article){
    %>
    <li class="media">
        <div class="media-left">
            <a href="/articles/detail/<%=article._id%>">
                <%
                if(article.img){
                %>
                <img class="media-object" src="<%=article.img%>" alt="<%=article.title%>">
                <%
                }else{
                %>
                <img class="media-object" src="/images/default.jpg" alt="<%=article.title%>">
                <%
                }
                %>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="/articles/detail/<%=article._id%>"><%=article.title%></a></h4>
            <p class="media-left"><%- article.content%></p>
        </div>
        <div class="media-bottom">
            作者:<%=article.user.username%>
            发表时间:<%=article.createTime.toLocaleString()%>
        </div>
    </li>
    <%
    });
    %>
</ul>
<ul class="pagination">
    <%
    for(var i=1;i<=totalPage;i++){
    %>
    <li><a href="/?pageno=<%=i%>&pagesize<%=pageSize%>&keyword=<%=keyword%>"><%=i%></a></li>
    <%
    }
    %>
</ul>
<% include include/footer.html%>